/*
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/
:root {
  --menu-color-active: #852328;
  --menu-color-hover: #F7B24B;
  --background-color: #43454A;
  --attribution-color:#A1A2A5;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*
https://www.w3schools.com/howto/howto_js_topnav.asp
*/
nav {
    background-color: var(--background-color);
    overflow: hidden;
}
  
nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
nav a:hover {
  background-color: var(--menu-color-hover);
  color: var(--background-color);
}
  
nav a.active {
  background-color: var(--menu-color-active);
  color: white;
}

/*
https://www.w3schools.com/howto/howto_css_image_responsive.asp
*/
header img {
  width: 100%;
  height: auto; 
}

header .image-attribution {
  color: var(--attribution-color);
  font-weight: 400;
}

/*
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
footer {
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px;
}

footer a {
  color: white;
}

footer div {
  flex-grow: 1;
  margin: 5px;
}

footer table {
  color: white;
}

footer .logo {
  height: 200px;
  width: auto;
}

footer .badge {
  height: 56px;
  width: auto;
}

footer .social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}